<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Система тестирования</title>
    <script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="lib/underscore.js"></script>
    <script type="text/javascript" src="lib/backbone.js"></script>
    <script type="text/javascript" src="lib/backbone.marionette.js"></script>

    <script src="https://google.github.io/traceur-compiler/bin/traceur.js"></script>
    <script src="https://google.github.io/traceur-compiler/src/bootstrap.js"></script>
    <style type="text/css">
        .selected {background-color: aquamarine;}
        .del-x {display: none; margin-left: 2cm; border: none; cursor: pointer;}
        section:hover .del-x {display: inline;}
    </style>
</head>
<body>

<h1>Система тестирования</h1>

    <h2>Вопросы</h2>
    <div id="the-app">
        <main></main>
        <footer></footer>
    </div>

<script id="footer-template" type="template">
    <button type="button" id="resume-of-tests">Get Answers</button>
    <button type="button" id="delete-all">Delete Selected</button>
</script>
<script id="no-children" type="template">
    <h3>No Children</h3>
</script>
<script id="resume-template" type="template">
    <h3>Правильных ответов: <%= numOfItems %></h3>
</script>
<script id="item-template" type="template">
    <div><%= abstract %><sup class="del-x">X</sup></div>
    <% answers.forEach(function (item) { %>
    <input type="<%= type %>"/><%= item %><br/>
    <% }); %>
</script>



<script type="module">
    import {resume} from 'controllers/root.js';
</script>
</body>
</html>